{% extends 'layouts/base.html' %}

{% set page_title = 'Contact Us' %}

{% block top %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div></div><h1>Fun Revision Application</h1></div>
    <p>If You Have Any Questions Or Feedback Please E-mail Any Of The Developers Below!</p>
    <p>We Would Be Delighted To Receive Your Feedback. </p>
    {#  Include Or Reasons for making the application Here #}
    <p></p>
    {# End Reasons #}
</div>
<div>
    <h1>Developers Of Revision App</h1>
    <p>Ahmed Bodiwala</p>
    <p>Sabir Hadeed</p>
    <p>Adam Member</p>
    <p>Yasin Rahman</p>
</div>
{% endblock %}
