{% extends 'layouts/base.html' %}

{% set page_title = 'Contact Us' %}

{% block top %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div><h1>Feedback and Question's</h1></div>
    <p>If you have any questions or feedback please e-mail any of the developers below!</p>
    <p>We would be delighted to receive your feedback. </p>
    <h1>Developers Of The Revision App</h1>
    <p>Name: Ahmed Bodiwala</p>
    <p>E-mail: ABodiwala@uclan.ac.uk</p>
    
    <p>Name:Sabir Hadeed</p>
    <p>E-mail:ISHadeed@uclan.ac.uk</p>
    
    <p>Name:Adam Member</p>
    <p>E-mail:AMember1@uclan.ac.uk</p>
    
    <p>Name:Yasin Rahman</p>
    <p>E-mail:YRahman1@uclan.ac.uk</p>
    <p></p>
    
</div>
<div>
    
</div>
{% endblock %}
