{% extends 'layouts/base.html' %}

{% set page_title = 'Downloads' %}

{% block top %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Download The App Here For FREE!!!</h1></div>
<p>Many Revision apps out there will charge you, or have you to sign up to get your details. But we thought for we will make this revision app for free no sign ups or fee's at all. Once you download the app your good to go no loggin in or signing up its as easy as that. We at fun revision want all students to have a better future and for that we dont think we should charge students. We would rather help student achieve their goals in life and help them for a brighter, more happy future.</p>

  
<p>Windows: <a role="button" href="{{ url_for('frontend.downloads')}}" class="btn btn-lg btn-primary"><strong>Download Application!</strong></a></p>
{% endblock %}
