{% extends 'layouts/base.html' %}

{% set page_title = 'Downloads' %}

{% block top %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Download For FREE!!!</h1>
    <p>Windows: <a role="button" href="{{ url_for('frontend.downloads')}}" class="btn btn-lg btn-primary"><strong>Download Application!</strong></a></p></div>
<p>Many Revision apps out there will charge you, or have you to sign up to get your details for monthly charges. But we at Fun Revision thought of making this revision app for free with no sign ups or fee's at all. Once you have downloaded the app your good to go, no loggin in or signing up its as easy and simple as that. We also want all students to have a better future and for that we dont think we should be charging students who are willing to put that effort in to revise and succeed. We would rather help student's achieve their goals in life and help them for a brighter, more happy future.</p>

  

{% endblock %}
