{% extends 'layouts/base.html' %}

{% set page_title = 'Downloads' %}

{% block top %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Download The App Here For FREE!!!</h1></div>
<p>If You Have Any Questions Or Feedback Please E-mail Any Of The Developers Below!</p>
<p>We Would Be Delighted To Receive Your Feedback. </p>
  
<p>Windows: <a role="button" href="{{ url_for('frontend.downloads')}}" class="btn btn-lg btn-primary"><strong>Download Application!</strong></a></p>
{% endblock %}
