{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block top %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>What is The Fun Revision App?</h1>
    {#  Include Or Reasons for making the application Here #}
    <p>The Fun Revision App is a simple application which lets students revise. There are many websites and applications out there on the internet which gives this service of revision for students, but what makes us The Fun Revsion App unique is the way the revision content is presented. Our app will present the revision content in such a way that the students will enjoy revising from. Using relatively interesting pictures and fun facts we have made our app unique so the student can enjoy their revision sessions. When revising without pictures and facts students tend to get bored more quickly with revision so we thought it would be helpful if we could make the process of revision more fun and easy for student helping them succeed in their exams and help them for a better future.</p>
    {# End Reasons #}
</div>
{% endblock %}
